<div id="particles-js" class="fullscreen">
<video playsinline autoplay muted id="bgvid">
  <source src="esasofi.webm" type="video/webm">
  <source src="esasofi.mp4" type="video/mp4">
  <img loading="lazy" src="esasofi.jpg"  width="430" height="932" alt="">
</video>
  <div class="jumbotron text-center">
    {% if site.photo %}
    <img class="particles-photo" src="{{ site.photo }}" alt="" />
    {% endif %}
    <h1 class="particles-title">{{ site.title }}</h1>
    <div class="nowrap">
      {% if site.social.facebook %}
      <a class="particles-icon" href="https://www.facebook.com/{{ site.social.facebook }}">{% include svg/facebook.svg %}</a>
      {% endif %}
      {% if site.social.x %}
      <a class="particles-icon" href="https://twitter.com/{{ site.social.x }}">{% include svg/x.svg %}</a>
      {% endif %}
      {% if site.social.instagram %}      
      <a class="particles-icon" href="https://www.instagram.com/{{ site.social.instagram }}">{% include svg/instagram.svg %}</a>
      {% endif %}
      {% if site.social.linkedin %}
      <a class="particles-icon" href="https://www.linkedin.com/in/{{ site.social.linkedin }}">{% include svg/linkedin.svg %}</a>
      {% endif %}
      {% if site.social.pixelfed %}
      <a class="particles-icon" style="stroke:none!important" href="https://mastodon.social/@{{ site.social.pixelfed }}@pixelfed.social">{% include svg/pixelfed.svg %}</a>
      {% endif %}
      {% if site.author.email %}
      <a class="particles-icon" href="mailto:{{ site.author.email }}" onclick="this.href=this.href.replace(/x/g,'');">{% include svg/mail.svg %}</a>
      {% endif %}
      <a class="particles-icon" href="soficv2024.pdf">{% include svg/cv-circled.svg %}</a>
    </div>
  </div>
  <div class="particles-scroll">
    <a class="particles-icon" href="#scroll">{% include svg/nav-arrow-down.svg %}</a>
  </div>
</div>
