#particles-js {
  background-repeat: no-repeat;
  background-size: 60%;
  background-attachment: scroll;
  background-color: black;
  background-image: url(/esasofi.jpg);
  background-position-x:center;

  .particles-js-canvas-el {
    width: 0;
    height: 99.5vh !important;
  }

  .jumbotron {
    position: absolute;
    top: 5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}
@media (min-width: 576px) {
  #particles-js {
    background-size: 50%;
  }
}
@media (min-width: 768px) {
  #particles-js {
    background-size: 40%;
  }
}
@media (min-width: 992px) {
  #particles-js {
    background-size: 29%;
  }
}
@media (min-width: 1400px) {
  #particles-js {
    background-size: 20%;
  }
}
@media (min-width: 2200px) {
  #particles-js {
    background-size: 15%;
  }
}
@media (min-width: 2560px) {
  #particles-js {
    background-size: 14%;
  }
}
#bgvid {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.fullscreen {
  min-height: 100vh;

  h1,
  h2 {
    color: var(--color-particles-text);
  }
}

.particles-photo {
  width: 50%;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 0.5em;
}

.particles-title {
  margin: 0;
  font-size: 2.5em!important;
  font-weight: 500;
  white-space: nowrap;
  color: black!important;
}

.particles-subtitle {
  margin: 0 0 1em 0;
  font-size: 1.25em;
  font-weight: 400;
}

.nowrap {
  white-space: nowrap;
}

.particles-icon {
  margin: 0 0.5em;
  pointer-events: all;

  svg {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
  }

  svg circle,
  svg path {
    stroke: var(--color-particles-text) !important;
    stroke-width: 0.05em;
  }

  &:focus,
  &:hover {
    border: none;

    svg circle,
    svg path {
      stroke-width: 0.075em;
    }
  }
}

.particles-scroll {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  .particles-icon {
    position: relative;
    -webkit-animation: none;
    animation: none;
  }

  svg {
    -webkit-transform: scale(2.7);
    transform: scale(2.7);
  }
}

.btn {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}